<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.BlizzardArmory">

    <uses-sdk tools:overrideLibrary="com.dementh.lib.battlenet_oauth2" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.BlizzardArmory.UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.BlizzardArmory.UI.GamesActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.BlizzardArmory.UI.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BlizzardArmory.UI.UI_warcraft.WoWActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.BlizzardArmory.UI.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BlizzardArmory.UI.UI_starcraft.SC2Activity"
            android:configChanges="orientation"
            android:parentActivityName="com.BlizzardArmory.UI.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BlizzardArmory.UI.UI_overwatch.OWActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.BlizzardArmory.UI.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.BlizzardArmory.UI.UI_diablo.D3Activity"
            android:configChanges="orientation"
            android:parentActivityName="com.BlizzardArmory.UI.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>