<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.BlizzardArmory">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BlizzardArmory"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name="com.BlizzardArmory.ui.main.SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.BlizzardArmory.ui.main.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.BlizzardArmory.ui.auth.AuthorizationTokenActivity"
            android:parentActivityName="com.BlizzardArmory.ui.main.MainActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop" />
        <activity
            android:name="com.BlizzardArmory.ui.navigation.NavigationActivity"
            android:parentActivityName="com.BlizzardArmory.ui.main.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation"
            android:screenOrientation="unspecified"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>